@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

/********************************************************************
 * TABLE OF CONTENTS
 * ===================
 * 1. GENERAL STYLES
 * 2. HEADER STYLES
 * 3. HOME STYLES
 * 4. MEDIA FOUNDATION STYLES
 * 5. PORTFOLIO STYLES
 * 6. FOOTER STYLES
 * ===================
 ********************************************************************/

/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:hover, .button:hover {
  color: inherit;
  text-decoration: none;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0.16px;
  color: #D3D3D3;
  background: linear-gradient(238.03deg, rgba(255, 255, 255, 0.2) -10.99%, rgba(255, 255, 255, 0.05) 129.18%),
  linear-gradient(60.42deg, rgba(255, 255, 255, 0.28) -9.02%, rgba(224, 224, 224, 0) 115.4%);
  backdrop-filter: blur(15px);
  border: none;
  border-radius: 10px;
}
:root {
  --header-height: 48px;
  --portfolio-width: calc((100vw - 200px) / 4);
  --slider-img-size: 432px;
  --slider-img-size-other: 331px;
  --white: #FFFFFF;
  --gray-000: #C6C6C6;
  --gray-050: #B5B5B5;
  --gray-100: #ADADAD;
  --gray-200: #525252;
  --gray-300: #4C4C4C;
  --gray-400: #393939;
  --gray-500: #262626;
  --gray-600: #1E1E1E;
  --black: #161616;
  --footer-black: #121212;
  --size-xl: 36px;
  --size-l: 24px;
  --size-m: 21px;
  --size-s: 16px;
  --size-xs: 14px;
  --size-xxs: 12px;
  --testing: linear-gradient(100.14deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 115.72%);
}

/* 2. HEADER STYLES */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--size-xs);
  z-index: 10;
}
header * {
  transition: all 0.2s linear;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-left, .nav-right {
  height: var(--header-height);
  display: flex;
  place-items: center;
}
.nav-left {
  padding-left: var(--size-s);
}
.nav-item {
  position: relative;
  color: var(--gray-000);
  display: inline-block;
  padding: calc(var(--size-s) - 1px) var(--size-s);
}
.site-name {
  color: var(--white);
  text-transform: uppercase;
  width: 115px;
  padding: 3px 0;
  margin: 0 var(--size-s) 0 0;
  border-right: 1px solid var(--gray-400);
}
.nav-item:hover, .nav-logo:hover {
  background-color: var(--gray-500);
}
.nav-item:hover .nav-dept, .nav-item:hover .nav-res, .nav-dept-item:hover .nav-program, .nav-logo:hover ul {
  display: block;
}
.site-name:hover {
  background-color: var(--black);
}

.nav-dept, .nav-program, .nav-res {
  width: 200px;
  background-color: var(--gray-500);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.nav-dept-item, .nav-program-item, .nav-res-item, .nav-logo-item {
  position: relative;
  color: var(--gray-000);
  display: block;
}
.nav-dept-item {
  padding: calc(var(--size-s) - 1px) var(--size-s);
}
.nav-program-item a, .nav-res-item a, .nav-logo-item a {
  display: block;
  padding: calc(var(--size-s) - 1px) var(--size-s);
}
.nav-dept-item:hover, .nav-program-item:hover, .nav-res-item:hover, .nav-logo-item:hover {
  background-color: var(--black);
}

.nav-program {
  top: 0;
  left: 100%;
}

.search-bar {
  position: relative;
  height: var(--header-height);
  display: inline-block;
}
.search-bar img {
  position: absolute;
  padding: var(--size-s);
}
#search-input {
  padding: 0 calc(var(--size-s) * 3);
  border: 2px solid var(--black);
  background-color: inherit;
  color: var(--white);
  height: var(--header-height);
  width: 358px;
}
#search-input:focus {
  outline: none;
  border: 2px solid var(--white);
}
#search-input:focus ~ #search-clear {
  display: initial;
  right: 0;
  padding: 20px;
}
#search-clear {
  display: none;
  right: 0;
  padding: 20px;
}
.search-bar::placeholder {
  color: var(--white);
}
.nav-logo {
  position: relative;
  height: var(--header-height);
  display: inline-block;
  padding: 13.5px;
}
.nav-logo ul {
  width: 130px;
  background-color: var(--gray-500);
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}
.nav-lang ul {
  left: 0;
}

/* 3. HOME PAGE */
#home-page {
  padding: 324px 0 143px 0;
  position: relative;
  background-color: var(--gray-600);
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}
.light-bluish {
  background: #1EDBE8;
}
.light-purple {
  background: #C76ED1;
}
.light-home {
  width: 188px;
  height: 188px;
}
.light-home.light1 {
  left: -55px;
  top: 202px;
  animation: home-light1-move 20s infinite;
}
@keyframes home-light1-move {
  0% {
    left: -55px;
    top: 202px;
  }
  50% {
    left: -73px;
    top: 469px;
  }
}
.light-home.light2 {
  left: 90vw;
  top: 512px;
  animation: home-light2-move 20s infinite;
}
@keyframes home-light2-move {
  0% {
    left: 90vw;
    top: 512px;
  }
  50% {
    left: 90vw;
    top: 79px;
  }
}

#home-title {
  font-size: 150px;
  font-weight: 700;
  background-image: url(../images/humber-color.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: center;
  background-size: cover;
  color: transparent;
  text-align: center;
}
#home-hero-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.16px;
  width: 66.5vw;
  font-weight: 600;
  color: var(--gray-100);
  text-align: center;
}
#home-button {
  width: 247px;
  height: 69px;
  margin-top: 230px;
}

.home-cone {
  position: absolute;
  height: 306.63px;
  width: 283.04px;
  transform: rotate(165deg);
  left: 100%;
  top: 341.9px;
  transform-origin: top left;
  z-index: -1;
}
.home-cylinder {
  position: absolute;
  height: 283px;
  width: 190px;
  left: 153px;
  top: 1312px;
  transform: rotate(150deg);
  transform-origin: top left;
  z-index: -1;
}

#home-explore {
  overflow: hidden;
}
.home-content {
  font-family: 'Roboto', sans-serif;
  padding: 144px 0;
  display: flex;
  gap: 170px;
  flex-flow: column;
  text-align: center;
}
.p1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.16px;
  padding: 0 119px;
}
.p2, .p3 {
  display: flex;
  flex-flow: column;
  gap: var(--size-l);
}
.p2 h2, .p3 h2 {
  font-size: 64px;
  font-weight: 700;
  background-image: url(../images/humber-color.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: center;
  color: transparent;
}
.p2 p, .p3 p {
  color: var(--gray-100);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.16px;
}
.p2 p {
  padding: 0 354px;
}
.p3 p {
  padding: 0 280px;
}
.highlight-text {
  background-image: url(../images/humber-color.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: center;
  color: transparent;
}

.home-slideshow-nav {
  position: absolute;
  width: 100%;
  top: calc(50% - 49px);
  z-index: 1;
}
#home-slideshow-left {
  position: absolute;
  left: 60px;
}
#home-slideshow-right {
  position: absolute;
  right: 60px;
}
.home-slideshow {
  position: relative;
  margin-top: 92px;
  width: 100%;
  height: 229px;
}

#slider {
  left: calc(50% - var(--slider-img-size) / 2 - var(--slider-img-size-other) * 2 - 2 * 55px);
  position: relative;
  height: 229px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 55px;
  transition: all 500ms linear;
}
#slider img {
  position: relative;
  height: 175px;
  width: 331px;
  opacity: 50%;
  transition: all 500ms linear;
}
#slider img:nth-child(3) {
  height: 229px;
  width: 432px;
  opacity: 100%;
}
.light-lightblue {
  background: #6AB5EC;
}
.light-violet {
  background: #C76ED1;
}
.light-landing.light1 {
  width: 234px;
  height: 234px;
  right: -67px;
  top: 130px;
}
.light-landing.light2 {
  height: 187px;
  width: 187px;
  left: -24px;
  top: 625px;
}
.light-landing.light3 {
  height: 187px;
  width: 187px;
  right: -45px;
  top: 1083px;
}


/* 4. MEDIA FOUNDATION STYLES */
#media-foundation {
  display: grid;
}

#program {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  background-color: var(--black);
  width: 100%;
  overflow: hidden;
  padding: var(--header-height) 0;
}
.fade-in {
  opacity: 100;
  transition: opacity 500ms ease-out;
}
.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.hidden {
  display: none;
}

.tag {
  font-size: var(--size-xs);
  padding: 40px 70px 0 70px;
}
#program .tag-item {
  display: inline-block;
  text-align: center;
  width: 153px;
  padding: 11px 16px;
  color: var(--gray-050);
  border-bottom: 2px solid var(--gray-050);
}
#program .tag-portfolio {
  color: var(--gray-200);
  border-bottom: 2px solid var(--gray-200);
}

#program-title {
  padding: 80px 0;
}

#program-title div {
  position: relative;
  width: 676px;
  font-weight: 600;
  letter-spacing: 0.16px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  background-image: url(../images/program-color.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: inherit;
  color: transparent;
}
#title-media {
  height: 312px;
}
#title-foundation {
  top: -70px;
  height: 166px;
}

#hero-text {
  position: relative;
  top: -100px;
  font-size: var(--size-m);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0.16px;
  width: 752px;
  font-weight: 600;
  color: var(--gray-100);
  margin: 0 auto;
  text-align: center;
}

.body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: var(--size-m);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--gray-100);
  line-height: 45px;
  letter-spacing: 1px;
  text-align: center;
  margin: 437px 202px 217px 202px;
}

#media-button {
  margin-top: 130px;
  width: 330px;
  height: 86px;
  font-size: var(--size-l);
}
.news {
  padding: 0 72px;
  display: flex;
  gap: 72px;
  justify-content: space-between;
}
.news-left {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--size-s);
}
.company-title {
  margin-bottom: 92px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  background-image: url(../images/program-color.png);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: center;
  background-size: 100% auto;
  color: transparent;
}
.company {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 101px;
  border-radius: 15px;
  background: linear-gradient(100.84deg, rgba(255, 255, 255, 0.108) -13.67%, rgba(255, 255, 255, 0.252) 135.6%);
  backdrop-filter: blur(15px);
  border: 1px solid var(--gray-000);
}
.news-right {
  position: relative;
  z-index: 1;
  width: 646px;
  border-radius: 15px;
  background: linear-gradient(100.84deg, rgba(255, 255, 255, 0.108) -13.67%, rgba(255, 255, 255, 0.252) 135.6%);
  backdrop-filter: blur(15px);
  border: 1px solid var(--gray-000);
  width: 646px;
  color: var(--gray-000);
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}
.news-title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}
.news-item {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid var(--gray-000);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 170px auto;
  gap: 10px;
}
.news-date {
  font-size: var(--size-xxs);
  grid-column: 1;
  grid-row: 1;
}
.news-time {
  font-size: var(--size-xxs);
  grid-column: 2;
  grid-row: 1;
}
.news-info {
  color: white;
  grid-column: 1 / span 2;
  grid-row: 2;
}
/* .last-news-item::before {
  content: url(../images/subtract1.png);
  position: absolute;
  width: 80%;
  top: calc(100% - 4px);
  left: 20px;
}
.last-news-item::after {
  content: url(../images/subtract2.png);
  position: absolute;
  top: calc(100% + 2px);
  left: 40px;
} */
#media-contact {
  margin: 220px auto;
  width: 387px;
  height: 108px;
  border-radius: 15px;
  font-size: var(--size-xl);
}
.light {
  position: absolute;
  filter: blur(200px);
  border-radius: 100%;
  opacity: 100%;
}
.light-blue {
  background: #3D4097;
}
.light-green {
  background: #41E7C580;
}
.light-program {
  width: 253px;
  height: 253px;
  animation: light-appear 7s;
}
.light-title {
  position: absolute;
  width: 637px;
  height: 237px;
  filter: blur(200px);
  border-radius: 100%;
  opacity: 100%;
}
.light-program.light1 {
  right: 0;
  top: 88px;
}
.light-program.light2 {
  left: calc(50% - 318.5px);
  top: 330px;
}
.light-program.light3 {
  right: 303px;
  top: 1840px;
}
.light-program.light4 {
  right: -100px;
  top: 2082px;
}
.light-program.light5 {
  height: 299px;
  width: 299px;
  left: 462px;
  top: 2963px;
}
.light-program.light6 {
  left: 938px;
  top: 3135px;
}
@keyframes light-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.cone1 {
  position: absolute;
  transform: rotate(165deg);
  height: 433.33px;
  width: 399.99px;
  left: calc(50% + 685px);
  top: 466.57px;
  transform-origin: top left;
  animation: cone-move 7s;
  z-index: 2;
}
@keyframes cone-move {
  0% {
    top: 511.17px;
    left: max(1400px, 100%);
    transform: rotate(176.61deg);
  }
  100% {
    left: calc(50% + 685px);
    top: 466.57px;
    transform-origin: top left;
  }
}
.cube1 {
  position: absolute;
  height: 230px;
  width: 231px;
  right: calc(50% + 220px);
  top: 113px;
  transform: rotate(30deg);
  transform-origin: top left;
  animation: cube1-move 7s;
}
@keyframes cube1-move {
  0% {
    right: max(750px, 65%);
    top: 99.6px;
    transform: rotate(69.37deg);
    transform-origin: top left;
  }
  100% {
    right: calc(50% + 220px);
    top: 113px;
    transform: rotate(30deg);
  }
}

.cube2 {
  position: absolute;
  height: 462px;
  width: 430px;
  right: calc(50% + 450px);
  top: 707.78px;
  transform: rotate(-15deg);
  transform-origin: top left;
  animation: cube2-move 7s;
}
@keyframes cube2-move {
  0% {
    right: 70%;
    top: 586.17px;
    transform: rotate(5.55deg);
  }
  100% {
    right: calc(50% + 450px);
    top: 707.78px;
    transform: rotate(-15deg);
  }
}

.pill {
  position: absolute;
  right: 79px;
  top: 1716px;
}

.cone2 {
  position: absolute;
  height: 466px;
  width: 430px;
  left: 65%;
  top: 3400px;
  transform-origin: top left;
  transform: rotate(-142.21deg);
}

/* 5. PORTFOLIO STYLES */
#portfolio {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: var(--header-height) 0;
}
#portfolio .background {
  position: relative;
  z-index: -1;
}
#portfolio .background * {
  animation: none;
}
#portfolio .cone1, #portfolio .cube1, #portfolio .cube2, #portfolio .pill {
  filter: blur(25px);
}
#portfolio .pill {
  right: 79px;
  top: 900px;
}
#portfolio .light3 {
  top: 1026px;
}
#portfolio .light4 {
  top: 1268px;
}
#portfolio .tag-item {
  display: inline-block;
  text-align: center;
  width: 153px;
  padding: 11px 16px;
  border-bottom: 2px solid var(--gray-200);
  color: var(--gray-200);
}
#portfolio .tag-portfolio {
  color: var(--gray-050);
  border-bottom: 2px solid var(--gray-050);
}
.portfolio-filter {
  color: var(--gray-050);
}

.portfolio-filter {
  margin: 0 72px 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 40px;
  width: 91px;
  gap: 3px;
}
.portfolio-filter p {
  font-size: var(--size-xs);
}

.portfolio-filter a {
  height: 18px;
}

.portfolio-text {
  padding: 20px 70px;
  color: var(--gray-100);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.16px;
}

#portfolio-container {
  display: grid;
  grid-template-columns: repeat(4, var(--portfolio-width));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 22px 70px;
}

.portfolio-image::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: var(--portfolio-width);
  height: calc(0.808 * var(--portfolio-width));
  transition: opacity 300ms;
  transition-timing-function: ease-out;
}
.portfolio-image::after {
  content: 'Project Name';
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: var(--size-l);
  color: white;
  bottom: -47px;
  padding: 19px;
  position: absolute;
  transition: all 300ms;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
  width: var(--portfolio-width);
  height: calc(0.808 * var(--portfolio-width));
  z-index: 1;
}
.portfolio-image:hover::before {
  opacity: 0;
}
.portfolio-image:hover::after {
  bottom: 0;
}
.portfolio-student {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0 0 0 ;
}
.portfolio-name {
  font-size: 15px;
}

/* 6. FOOTER STYLES */
#footer {
  padding: 48px 70px;
  background-color: var(--footer-black);
  font-family: 'Roboto', sans-serif;
  font-size: var(--size-s);
  color: var(--gray-100);
  display: flex;
  flex-flow: column;
  gap: 49px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: min(3.75vw, 54px);
}
#footer-site-name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--size-xl);
}
#footer div {
  display: flex;
}
.footer-nav {
  display: flex;
  gap: 40px;
}
.footer-program, .footer-res {
  display: inline-block;
  font-weight: 500;
  width: 212px;
}
.footer-program ul, .footer-res ul {
  margin-top: 30px
}
.footer-program-item, .footer-res-item {
  display: block;
  font-weight: 300;
  margin-bottom: 25px;
}
.newsletter {
  padding-left: 60px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.subscribe {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: calc(100vw - 952px);
}
#subscribe-input {
  background-color: #ADADAD80;
  color: var(--white);
  height: var(--size-xl);
  flex: 13 1 auto;
  min-width: 328px;
  border: none;
  border-radius: 5px;
  padding: 0 1em;
}
#subscribe-input:focus {
  outline: none;
}
#subscribe-submit {
  color: var(--black);
  height: var(--size-xl);
  /* flex: 7 auto auto; */
  width: 212px;
  /* width: max(100px, calc(100vw - 1300px)); */
  /* margin-left: 20px; */
  border: none;
  border-radius: 5px;
}
.footer-social-media {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding-top: 59px;
}
.special-nav {
  justify-content: space-between;
}
.special-nav-item {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1440px) {
  .newsletter {
    padding-left: 0px;
  }
} 